.error {
  @include flex(center, center);
  flex-direction: column;
  margin-top: 10rem;
  font-family: $primaryFont;

  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  a {
    display: block;
    width: 20%;
    text-align: center;
    margin: 1rem auto;
    background-color: #0165ff;
    color: #fff;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: none;
    transition: all 500ms ease;

    &:hover {
      color: #000;
      background-color: #d81f55;
    }
  }
}
