.mainSection {
  max-width: 90vw;
  margin: 5rem auto;
  font-family: $primaryFont;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  h2 {
    margin: 5px 0;
  }

  h3 {
    margin: 5px 0;
  }
}
