nav {
  @include flex(flex-start, center);
  background-color: #000;
  color: #fff;
  padding: 15px 50px;
  font-family: $primaryFont;

  ul {
    @include flex(space-between, center);
    list-style-type: none;

    li {
      font-size: 1rem;
      font-weight: 700;
      margin: 0 50px;
      cursor: pointer;

      a {
        color: #fff;
        text-decoration: none;
        transition: all 500ms ease;

        &:hover {
          color: $primaryColor;
          text-decoration: underline;
        }

        &.active {
          color: $primaryColor;
        }
      }
    }
  }
}
