.news {
  max-width: 90vw;
  margin: 3rem auto;
  font-family: $primaryFont;

  .filter {
    @include flex(space-between, center);
    margin: 3rem 0;

    input {
      font-size: 1.2rem;
      padding: 10px 15px;
      border: 3px solid #0165ff;
      border-radius: 15px;
      font-family: $primaryFont;
      outline: none;
      transition: all 500ms ease;

      &:hover {
        box-shadow: -5px 6px 7px 0px #0165ff;
      }

      &:focus {
        border: 3px solid #d81f55;
        box-shadow: -5px 6px 7px 0px #d81f55;
      }
    }
  }

  &Container {
    display: grid;
    gap: 50px 55px;
    grid-template-columns: repeat(2, 1fr);

    h1 {
      font-size: 1.5rem;
      max-width: 80%;
    }

    div div {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      margin-top: 1rem;

      h2 {
        margin-bottom: 1rem;
      }

      a {
        background-color: #0165ff;
        color: #fff;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 15px;
        font-weight: 500;
        letter-spacing: 3px;
        text-decoration: none;
        transition: all 500ms ease;

        &:hover {
          color: #000;
          background-color: #d81f55;
        }
      }
    }
  }
}
