.yourTeam {
  font-family: $primaryFont;
  max-width: 70vw;
  margin: 3rem auto;

  .team {
    @include flex(space-between, center);
  }

  .filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    button {
      grid-column: span 2;
    }

    .position-wrapper {
      position: relative;

      select {
        width: 100%;
        appearance: none;
        cursor: pointer;
      }

      &::after {
        content: "➤";
        font-size: 1.5rem;
        transform: rotate(90deg);
        position: absolute;
        top: 8px;
        right: 20px;
        color: $primaryColor;
      }
    }
  }

  h1 {
    margin-bottom: 3rem;
    text-align: center;
  }
}
