@import "config", "nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination {
  @include flex(space-between, center);
  list-style-type: none;
  margin-top: 10rem;
  flex-wrap: wrap;

  li {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 50px;
    cursor: pointer;
  }
}

.loading {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #808080;
  border-top-color: #0000ff;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
