@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  font-family: "Roboto", Arial, sans-serif;
}
nav .menuBtn {
  position: relative;
  z-index: 2;
  height: 20px;
  width: 28px;
  margin-right: 3rem;
  display: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
nav .menuBtn .menuBurger {
  position: absolute;
  top: 0.3rem;
  right: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
nav .menuBtn .menuBurger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
nav .menuBtn .menuBurger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
nav .menuBtn .menuBurger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}
nav .menuBtn .menuBurger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}
nav .menuBtn .menuBurger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
nav ul li {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 35px;
  cursor: pointer;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
nav ul li a:hover {
  color: #0165ff;
  text-decoration: underline;
}
nav ul li a.active {
  color: #d81f55;
}

.news {
  max-width: 90vw;
  margin: 3rem auto;
  font-family: "Roboto", Arial, sans-serif;
}
.newsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 55px;
}
.newsContainer h1 {
  font-size: 1.5rem;
  max-width: 80%;
}
.newsContainer div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}
.newsContainer div div h2 {
  margin-bottom: 1rem;
}
.newsContainer div div a {
  background-color: #0165ff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.newsContainer div div a:hover {
  color: #000;
  background-color: #d81f55;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}
.filter input,
.filter select {
  font-size: 1.2rem;
  padding: 10px 15px;
  border: 3px solid #0165ff;
  border-radius: 15px;
  font-family: "Roboto", Arial, sans-serif;
  outline: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.filter input:hover,
.filter select:hover {
  -webkit-box-shadow: -5px 6px 7px 0px #0165ff;
          box-shadow: -5px 6px 7px 0px #0165ff;
}
.filter input:focus,
.filter select:focus {
  border: 3px solid #d81f55;
  -webkit-box-shadow: -5px 6px 7px 0px #d81f55;
          box-shadow: -5px 6px 7px 0px #d81f55;
}
.filter button {
  font-size: 1.2rem;
  padding: 10px 15px;
  border: 3px solid #0165ff;
  border-radius: 15px;
  background-color: #fff;
  color: #d81f55;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}
.filter button:hover {
  background-color: #0165ff;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 90vw;
  margin: 2rem auto;
  font-family: "Roboto", Arial, sans-serif;
}
header img {
  width: 70%;
  margin-right: 1rem;
}
header ul {
  background-color: #fff;
  list-style-type: none;
  padding: 20px;
}
header ul li {
  margin-bottom: 35px;
  font-weight: 700;
}
header ul li a {
  color: #0165ff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
header ul li a:hover {
  color: #d81f55;
}
header ul li p {
  margin-top: 1rem;
  font-weight: initial;
}
header ul li#head {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.mainSection {
  max-width: 90vw;
  margin: 5rem auto;
  font-family: "Roboto", Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}
.mainSection h2 {
  margin: 5px 0;
}
.mainSection h3 {
  margin: 5px 0;
}

.yourTeam {
  font-family: "Roboto", Arial, sans-serif;
  max-width: 80vw;
  margin: 1rem auto;
}
.yourTeam h1 {
  font-size: 3rem;
}
.yourTeam .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.yourTeam .team > div {
  width: 49.5%;
}
.yourTeam .team > div h2 {
  text-align: center;
}
.yourTeam .team .singlePlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  margin: 0.5rem 0;
  padding: 10px 15px;
}
.yourTeam .team .singlePlayer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.yourTeam .team .singlePlayer img {
  height: 64px;
  width: 84px;
  border-radius: 100%;
  margin-right: 1rem;
}
.yourTeam .team .singlePlayer button {
  background-color: #d81f55;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.yourTeam #alert {
  position: fixed;
  top: 0.8rem;
  right: 3rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #008000;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.yourTeam .filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.yourTeam .filter input,
.yourTeam .filter select {
  margin: 0;
}
.yourTeam .filter button {
  grid-column: span 2;
}
.yourTeam .filter .position-wrapper {
  position: relative;
}
.yourTeam .filter .position-wrapper select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.yourTeam .filter .position-wrapper::after {
  content: "➤";
  font-size: 1.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 8px;
  right: 20px;
  color: #0165ff;
}
.yourTeam h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
  font-family: "Roboto", Arial, sans-serif;
}
.error h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.error a {
  display: block;
  width: 20%;
  text-align: center;
  margin: 1rem auto;
  background-color: #0165ff;
  color: #fff;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.error a:hover {
  color: #000;
  background-color: #d81f55;
}

@media screen and (max-width: 992px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header img {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  header ul {
    width: 100%;
  }
  .news .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .news .filter input {
    margin: 0.5rem 1rem;
  }
  .news .filter input:last-child {
    margin: 1rem auto;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  nav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 64px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  nav ul li {
    padding-bottom: 15px;
    margin: 30px 50px;
    border-bottom: 2px solid #808080;
  }
  nav ul li a {
    padding: 0 50px 15px 0;
    font-weight: 800;
    opacity: 0.7;
  }
  nav ul li a:hover {
    -webkit-box-shadow: inset 0 -4px 0 -1px #fff;
            box-shadow: inset 0 -4px 0 -1px #fff;
  }
  nav ul li a.active {
    color: #0165ff;
  }
  nav ul.hide {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  nav .menuBtn {
    display: block;
  }
  .news .filter input {
    margin: 1rem auto;
    width: 90%;
  }
  .news .filter input:last-child {
    width: 90%;
  }
  .mainSection {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 576px) {
  .mainSection div h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  header ul {
    padding: 20px 40px 20px 20px;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav > a {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  nav .menuBtn .menuBurger {
    top: 0.4rem;
  }
  .mainSection div {
    text-align: center;
    padding: 0 10px;
  }
  .mainSection div h2 {
    font-size: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-top: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagination li {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 50px;
  cursor: pointer;
}

.loading {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #d81f55;
  border-top-color: #0165ff;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */