header {
  @include flex(flex-start, flex-start);
  max-width: 90vw;
  margin: 2rem auto;
  font-family: $primaryFont;

  img {
    width: 70%;
    margin-right: 1rem;
  }

  ul {
    background-color: #fff;
    list-style-type: none;
    padding: 20px;

    li {
      margin-bottom: 25px;
      font-weight: 700;

      a {
        color: $primaryColor;
        transition: all 200ms ease;

        &:hover {
          color: $secondaryColor;
        }
      }

      p {
        margin-top: 1rem;
        font-weight: initial;
      }

      &#head {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
