.mainSection {
  max-width: 90vw;
  margin: 3rem auto;
  font-family: $primaryFont;

  #error {
    color: #ff0000;
    margin-top: 15rem;
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    gap: 50px 75px;
    margin-top: 6rem;

    .single {
      @include flex(space-between, flex-start);
      flex-direction: column;
      background-color: #fff;
      width: 450px;
      margin-bottom: 3rem;
      border-radius: 10px;

      img {
        height: 250px;
        width: 100%;
      }

      h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
        text-transform: uppercase;
        padding: 0 20px;
        flex: 1;
      }

      div {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        margin-top: 1rem;
        padding: 20px 20px 30px 20px;

        h2 {
          margin-bottom: 1rem;
        }

        a {
          background-color: $primaryColor;
          color: #fff;
          font-size: 1.3rem;
          padding: 10px 25px;
          border-radius: 15px;
          font-weight: 500;
          letter-spacing: 3px;
          text-decoration: none;
          transition: all 500ms ease;

          &:hover {
            color: #000;
            background-color: $secondaryColor;
          }
        }
      }
    }
  }
}

.filter {
  @include flex(space-between, center);
  margin: 3rem 0;

  input,
  select {
    font-size: 1.2rem;
    padding: 10px 15px;
    border: 3px solid $primaryColor;
    border-radius: 15px;
    font-family: $primaryFont;
    outline: none;
    transition: all 500ms ease;

    &:hover {
      box-shadow: -5px 6px 7px 0px $primaryColor;
    }

    &:focus {
      border: 3px solid $secondaryColor;
      box-shadow: -5px 6px 7px 0px $secondaryColor;
    }
  }

  button {
    font-size: 1.2rem;
    padding: 10px 15px;
    border: 3px solid $primaryColor;
    border-radius: 15px;
    background-color: #fff;
    color: $secondaryColor;
    font-family: $primaryFont;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    transition: all 500ms ease;
    cursor: pointer;

    &:hover {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}
