.pagination {
  @include flex(center, center);
  list-style-type: none;
  font-family: $primaryFont;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  cursor: pointer;

  li {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 5px;

    &.active {
      background-color: $primaryColor;
      color: #fff;
    }

    &:hover {
      background-color: $secondaryColor;
      color: #fff;
    }

    &.next,
    &.prev {
      font-weight: bold;

      svg {
        transform: translateY(11%);
      }
    }
  }
}
