@include mediaLarge {
  .yourTeam {
    display: flex;
    flex-direction: column;

    h1 {
      order: -2;
      margin-bottom: 0;
    }

    .filter {
      order: -1;
    }

    .team {
      align-items: center;
      flex-direction: column;

      > div {
        margin-bottom: 3rem;
        width: 100%;
      }
    }
  }
}

@include mediaMediumLarge {
  header {
    flex-direction: column;

    img {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    ul {
      width: 100%;
    }
  }

  .news .filter {
    flex-wrap: wrap;
    margin: 0;

    input {
      margin: 0.5rem 1rem;

      &:last-child {
        margin: 1rem auto;
        width: 50%;
      }
    }
  }
}

@include mediaMedium {
  nav {
    ul {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: fixed;
      top: 64px;
      left: 0;
      background-color: rgba(0, 0, 0, 0.95);
      height: 100%;
      width: 100%;
      z-index: 1;
      transform: translateX(0);
      transition: all 500ms ease-out;

      li {
        padding-bottom: 15px;
        margin: 30px 50px;
        border-bottom: 2px solid #808080;

        a {
          padding: 0 50px 15px 0;
          font-weight: 800;
          opacity: 0.7;

          &:hover {
            box-shadow: inset 0 -4px 0 -1px #fff;
          }

          &.active {
            opacity: 1;
            color: #fff;
          }
        }
      }

      &.hide {
        transform: translateX(-1000px);
      }
    }

    .menuBtn {
      display: block;
    }
  }

  .news .filter input {
    margin: 1rem auto;
    width: 90%;

    &:last-child {
      width: 90%;
    }
  }

  .mainSection {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .yourTeam {
    .filter {
      gap: 20px;

      > * {
        grid-column: span 2;
      }
    }

    .team .singlePlayer {
      flex-flow: row wrap;

      > div {
        flex: 100%;
        margin-bottom: 2rem;
        flex-direction: column;

        img {
          margin: 0 0 1rem 0;
          height: 80px;
          width: 95px;
        }

        h3 {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@include mediaMediumLow {
  .mainSection div h2 {
    font-size: 1.3rem;
  }

  .newsContainer {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;

    h1 {
      max-width: 100%;
    }

    div {
      margin-bottom: 2rem;

      div {
        align-items: center;

        h2 {
          margin: 1rem 0 2rem 0;
        }

        a {
          font-size: 1.3rem;
          padding: 10px 25px;
        }
      }
    }
  }
}

@include mediaSmall {
  header ul {
    padding: 20px 40px 20px 20px;
  }

  nav {
    justify-content: space-between;

    > a {
      flex-basis: 55%;
    }

    .menuBtn .menuBurger {
      top: 0.4rem;
    }
  }

  .mainSection div {
    text-align: center;
    padding: 0 10px;

    h2 {
      font-size: 1.5rem;
    }
  }
}
